{% extends 'base.html' %}

{% block body %}
<h1>Select a Swimmer</h1>
    <div id="form_container">
        <label>
            <select id="swimmerSelect" name="swimmer">
                {% for item in items %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <button hx-post="/get_events" hx-target="#next2"
                    hx-vals='js:{swimmer: document.getElementById("swimmerSelect").value}'>
                Submit
            </button>
        </label>
    </div>
    <div id="next2"></div>
{% endblock %}
