{% extends "chart_base.html" %}


    {% block container %}

        {% for c, t in data %}

            <svg height="30" width="400">
                <rect height="30" width="{{ c }}" style="fill:rgb(0,0,255);" />
            </svg>{{ t }}<br />
        
        {% endfor %}

        <p>Average time: {{ average }}</p>

        <div class="button-container" style="
        display: flex;
        flex-direction: column;
        ">
            <a href="/">
                <button
                style="padding: 10px 200px;
                margin: 10px 0 10px 0;
                font-size: large;
                border: none;
                border: 1px solid black;
                background-color: white;
                cursor: pointer;"
                >Choose a new swimmer</button>
            </a>
        </div>
    {% endblock %}
