{% extends "base.html" %%}
{% block body %}
    <div class="container">
        <div class="bars">
        <h1>Emma, 13</h1><h2>100m Breast</h2>
            <div class="bar">
                <svg width="500" height="50">
                    <rect x="0" y="0" width="497.94" height="50" fill="red" />
                </svg>
                <p>2:01.15</p>
            </div>
            
            <div class="bar">
                <svg width="500" height="50">
                    <rect x="0" y="0" width="484.42" height="50" fill="red" />
                </svg>
                <p>1:57.86</p>
            </div>
            
            <div class="bar">
                <svg width="500" height="50">
                    <rect x="0" y="0" width="490.67" height="50" fill="red" />
                </svg>
                <p>1:59.38</p>
            </div>
            
            <div class="bar">
                <svg width="500" height="50">
                    <rect x="0" y="0" width="484.75" height="50" fill="red" />
                </svg>
                <p>1:57.94</p>
            </div>
            
            <div class="bar">
                <svg width="500" height="50">
                    <rect x="0" y="0" width="480.76" height="50" fill="red" />
                </svg>
                <p>1:56.97</p>
            </div>
        </div>
    </div>
{% endblock %}